<div class="container referred-customers-container">
  <h2>{{ 'referredCustomers.title' | cxTranslate }}</h2>

  <ng-container *ngIf="referredCustomersState$ | async as referredCustomersState">
    <ng-container *ngIf="referredCustomersState.loading; then loading"></ng-container>
    <ng-container *ngIf="referredCustomersState.data; then listContent"></ng-container>
  </ng-container>
</div>

<ng-template #listContent let-referredCustomers>
  <button class="btn btn-block btn-primary" (click)="handleCreateReferredCustomerAction()">
    {{ 'referredCustomers.form.createReferredCustomer' | cxTranslate }}
  </button>
  <div class="cards-container">
    <cx-card
      *ngFor="let referredCustomer of referredCustomers"
      [border]="true"
      [fitToContainer]="true"
      [content]="(getCardContent(referredCustomer) | async) || {}"
      (deleteCard)="deleteReferredCustomer(referredCustomer.email)"
      (editCard)="handleEditReferredCustomerAction(referredCustomer)"
    ></cx-card>
  </div>

  <p *ngIf="!referredCustomers.length" class="empty-list">{{ 'referredCustomers.list.empty' | cxTranslate }}</p>

  <ng-container *ngIf="!referredCustomers.length || showCreateReferredCustomerForm">
    <section class="mb-5">
      <h2 class="mb-5">
        {{ 'referredCustomers.form.createReferredCustomer' | cxTranslate }}
      </h2>
      <prf-referred-customers
        class="cx-form"
        (submitReferredCustomer)="createReferredCustomerSubmit($event)"
        (backToReferredCustomer)="createReferredCustomerCancel()"
        actionBtnLabel="{{ 'referredCustomers.form.createBtnLabel' | cxTranslate }}"
        cancelBtnLabel="{{ 'referredCustomers.form.cancel' | cxTranslate }}"
      ></prf-referred-customers>
    </section>
  </ng-container>

  <ng-container *ngIf="showEditReferredCustomerForm">
    <section class="mb-5">
      <h2 class="mb-5">
        {{ 'referredCustomers.form.editReferredCustomer' | cxTranslate }}
      </h2>
      <prf-referred-customers
        class="cx-form"
        [referredCustomerData]="currentReferredCustomer"
        (submitReferredCustomer)="editReferredCustomerSubmit($event)"
        (backToReferredCustomer)="editReferredCustomerCancel()"
        actionBtnLabel="{{ 'referredCustomers.form.editBtnLabel' | cxTranslate }}"
        cancelBtnLabel="{{ 'referredCustomers.form.cancel' | cxTranslate }}"
      ></prf-referred-customers>
    </section>
  </ng-container>
</ng-template>

<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
